.sharu-progress {
    align-self: center;
    margin: 0 auto;
    position: absolute;
    top: 40%;
}

.sharu-progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
}