.content {
    height: 100%;
}

table {
    width: 100%;
}

.icon-container {
    width: 40px;
    color: grey;
}

.file-menu {
    justify-content: flex-end;
}

.file-menu-icon {
    color: grey;
}

.sharu-logo-container {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.sharu-logo {
    max-width: 150px;
    width: 150px;
}