<mat-card>
    Total In: <strong>{{stats.totalIn}}</strong> / Total Out: <strong>{{stats.totalOut}}</strong>
</mat-card>

<mat-tab-group animationDuration="0ms">
    <mat-tab label="id">
        <mat-card *ngIf="(stats.id)">
            <h2>{{stats.id.id}}</h2>
            Announced as:<br />
            <ul>
                <ng-template *ngIf="(stats.id)" let-adr let-last="last" ngFor [ngForOf]="stats.id.addresses">
                    <li>
                        {{adr}}
                    </li>
                </ng-template>
            </ul>
        </mat-card>
    </mat-tab>
    <mat-tab label="peers">
        <mat-card *ngIf="!(peers)">
            <div>
                no peers fetched so far, 
                <button *ngIf="!stats.fetchingPeers" mat-button (click)="stats.fetchPeers()">
                        DO IT!
                    </button>
                    <span *ngIf="stats.fetchingPeers">updating peers...</span>
    
            </div>
        </mat-card>
        <mat-card *ngIf="(peers)">
            <h2>{{ peers.length }} Peers</h2>
            <div>
                <mat-form-field>
                    <input matInput (keyup)="setFilterForPeers($event.target.value)" placeholder="Filter">
                </mat-form-field>

                <mat-form-field>
                    <input matInput [(ngModel)]="addPeerInput" (keydown.enter)="ipfs.connectPeer($event.target.value); addPeerInput = ''"
                        placeholder="Add Peer">
                </mat-form-field>

                <button *ngIf="!stats.fetchingPeers" mat-button (click)="stats.fetchPeers()">
                    update peers
                </button>
                <span *ngIf="stats.fetchingPeers">updating peers...</span>

                <i>Click on peer for more details.</i>
            </div>
            <mat-chip-list>
                <div *ngFor="let peer of filteredPeers">
                    <mat-chip (click)="selectedPeer = peer">{{getShortedMultiAddress(peer.id)}}
                    </mat-chip>
                </div>
            </mat-chip-list>
            <div *ngIf="(selectedPeer)">
                <div>ID: {{selectedPeer.id}}</div>
                <div>
                    <ul>
                        Announced as:
                        {{selectedPeer.addrs.length}}
                        <li *ngFor="let addr of selectedPeer.addrs">
                            {{addr}}
                        </li>
                    </ul>
                </div>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="low level ops">
        <mat-card>
            <mat-form-field>
                <input matInput [(ngModel)]="searchHash" (keydown.enter)="lookupHash($event.target.value); searchHash=''"
                    placeholder="Find hash">
            </mat-form-field>
            <div *ngIf="(findHash)">
                <div *ngIf="!(findHash.result)">Looking for: {{findHash.search}}...</div>
                <div *ngIf="(findHash.result)">Looked for: {{findHash.search}}</div>
                <div *ngIf="(findHash.result)">
                    Result: {{findHash.result}}
                </div>
            </div>
        </mat-card>
    </mat-tab>
</mat-tab-group>
